charset-normalizer==2.0.12
snowflake-connector-python==2.7.9
mv /usr/lib/python3/dist-packages/_cffi_backend.cpython-35m-x86_64-linux-gnu.so /usr/lib/python3/dist-packages/_cffi_backend.cpython-35m-x86_64-linux-gnu.so-1.5.2
ln /usr/local/lib/python3.5/dist-packages/_cffi_backend.cpython-35m-x86_64-linux-gnu.so /usr/lib/python3/dist-packages/_cffi_backend.cpython-35m-x86_64-linux-gnu.so
